In [16]:
import numpy as np
np.random.seed(12)
np.set_printoptions(precision=6, suppress=True)

In [17]:
import numpy as np
data = [np.random.standard_normal() for i in range(8)]
data

[0.47298583148997897,
 -0.6814258794394451,
 0.24243949669047796,
 -1.7007356340383315,
 0.7531428339492002,
 -1.534721340208044,
 0.0051270781322723565,
 -0.12022767015619135]

In [7]:
a = [1, 2, 3]

In [8]:
b = a
b

[1, 2, 3]

In [9]:
a.append(4)
b

[1, 2, 3, 4]

In [18]:
def append_element(some_list, element):
    some_list.append(element)

In [19]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [47]:
a = 5
type(a)
a = "foo"
type(a)

int

In [48]:
5 + 5

10

In [52]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [23]:
a = 5
isinstance(a, int)

True

In [24]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

True

In [25]:
a = "foo"

In [26]:
getattr(a, "split")

In [27]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [28]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

False

In [29]:
5 - 7
12 + 21.5
5 <= 2

False

In [30]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [31]:
a == c

True

In [32]:
a = None
a is None

True

In [33]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [34]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [35]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [36]:
fval = 7.243
fval2 = 6.78e-5

In [37]:
3 / 2

1.5

In [38]:
3 // 2

1

In [39]:
c = """
This is a longer string that
spans multiple lines
"""
c.count("\n")

3

In [42]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [43]:

b = a.replace("string", "longer string")
b
a
a = 5.6
s = str(a)
print(s)

5.6

In [44]:
s = "python"
list(s)
s[:3]

'pyt'

In [45]:
s = "12\\34"
print(s)

12\34

In [46]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'